body{
    padding: 2em;
    background: #e1e1e1;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    width: 50%;
    margin: auto;
}

/* div {
    border: 1px solid red;
} */

.radioRight {
    display: flex; 
}

.green{
    color: green;
}

.hot{
    color: red;
}

.cold{
    color: blue;
}